<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <style>
    

/* *,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
} */


  .btn {
    background-color: #d3394c;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 15px 35px;
    position: relative;
  }
  .btn:hover {
    background-color: #722040;
  }
  input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .align-center {
    text-align: center;
  }
  .helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 0;
  }
  .hidden {
    display: none !important;
  }
  .hidden.image {
    display: inline-block !important;
  }
  .display-inline {
    display: inline-block;
    vertical-align: middle;
  }
  .img {
    border: 1px solid #f6f6f6;
    display: inline-block;
  }
  .drop {
    background-color: #f2f2f2;
    border: 4px dashed #ccc;
    background-color: #f6f6f6;
    border-radius: 2px;
    height: 100%;
    max-height: 100%;
    width: 100%;
  }
  .form_style{
    border: 1px solid grey;
    border-radius: 5px;
  }
  </style>
</head>

<body>

  <div id="app">
   
    <v-app id="inspire">

      <v-container fluid class="grey lighten-5 mb-2 ma-0 pa-0 ">

        <!--FIRST ROW-->
        <v-row no-gutters style="height: 150px;">

          <!--first column in first row-->
          <v-col md="2">
          <!-- <v-col v-for="n in 2" :key="n" cols="12" md="1"></v-col> -->

            <!--side navigation bar-->
            <v-card height="100vh" width="256" style="border-radius: 0px;">

              <v-navigation-drawer dark permanent style="background-color: #8e44ad;">

                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="text-h6">
                      Eventsapp
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <!-- <v-divider></v-divider> -->

                <v-list dense nav>
                  <v-list-item v-for="c in choices" :key="c.type" link>
                    <v-list-item-icon>
                      <v-icon>{{ c.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                      <v-list-item-title>{{ c.type }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>

              </v-navigation-drawer>

            </v-card>
    
          </v-col>

          <!--second column in first row-->
          <v-col md="10">

            <!--profile bar/toolbar-->
            <v-row no-gutters>
              <v-col md="12">

                <v-app-bar style="height: 100%;">
                  <v-spacer></v-spacer>

                  <v-menu left bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on">
                      <v-icon>mdi-account</v-icon>
                    </v-btn>
                  </template>

                  <v-list>
                    <v-list-item v-for="p in profile" @click="() => {}">
                      <v-list-item-title>{{p}}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                  </v-menu>

                </v-app-bar>

              </v-col>
            </v-row>

            <!--event-->
            <v-row no-gutters class="ma-3">
              <v-col md="2">
                Events List
              </v-col>
              <v-col md="10" style="text-align: end;">

                <!--add event pop up-->
                <v-dialog v-model="dialog" width="500">

                  <template v-slot:activator="{ on, attrs }">
                    <v-btn depressed color="#8e44ad" dark v-bind="attrs" v-on="on" style="text-transform: none;">
                      Add Event
                    </v-btn>
                  </template>
          
                  <v-card style="overflow: hidden;">
                    <v-card-title class="text">
                      Add Events
                    </v-card-title>
            
                    <v-card-text>

                      <!--image drag/drop-->
                      <v-row no-gutters class="ma-3">
                      <div class="helper"></div>
                        <div class="drop display-inline align-center" @dragover.prevent @drop="onDrop">
                          <div class="helper"></div>
                          &nbsp;<span>Add Cover Picture Here</span>
                          <label v-if="!image" class="display-inline" style="cursor: pointer;">
                            <img src="./assets/add_image.png" height="70">
                            <input type="file" name="image" @change="onChange"> 
                          </label>
                          <div class="hidden display-inline align-center" v-else v-bind:class="{ 'image': true }">
                            <img :src="image" alt="" class="img" height="50px" width="50px" />
                            <br>
                            <br>
                            <!-- <button class="btn" @click="removeFile">delete</button> -->
                          </div>
                          </label>
                        </div>
                      </v-row>

                      <!--form input-->
                      <v-row no-gutters class="ma-3">

                        <v-col md="6">
                          <v-row no-gutters class="ma-3">
                            <v-col md="12">
                              <input placeholder="Event Name" class="form_style"></input>
                            </v-col>
                          </v-row>
                          <v-row no-gutters class="ma-3">
                            <v-col md="12">
                              <input placeholder="Timing" class="form_style"></input>
                            </v-col>
                          </v-row>
                          <v-row no-gutters class="ma-3">
                            <v-col md="12">
                              <input placeholder="Venue" class="form_style"></input>
                            </v-col>
                          </v-row>
                        </v-col>

                        <v-col md="6">
                          <v-row no-gutters class="ma-3">
                            <v-col md="12">
                              <input placeholder="Date Range" class="form_style"></input>
                            </v-col>
                          </v-row>
                          <v-row no-gutters class="ma-3">
                            <v-col md="12">
                              <input placeholder="Hall Name" class="form_style"></input>
                            </v-col>
                          </v-row>
                          <v-row no-gutters class="ma-3">
                            <v-col md="12">
                              <input placeholder="Description" class="form_style"></input>
                            </v-col>
                          </v-row>
                        </v-col>

                      </v-row>

                    </v-card-text>
            
            
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="#bdc3c7" text @click="dialog = false" style="text-transform: none;">
                        Close
                      </v-btn>
                      <v-btn depressed color="#8e44ad" dark style="text-transform: none;">
                        Save
                      </v-btn>
                    </v-card-actions>
                  </v-card>

              </v-dialog>
              
              </v-col>
            </v-row>

            <!--table-->
            <v-row no-gutters class="ma-3">
              <v-col md="12">

                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th class="text-left">
                          S.no
                        </th>
                        <th class="text-left">
                          Event Image
                        </th>
                        <th class="text-left">
                          Event Name
                        </th>
                        <th class="text-left">
                          From Date
                        </th>
                        <th class="text-left">
                          To Date
                        </th>
                        <th class="text-left">
                          Timing
                        </th>
                        <th class="text-left">
                          Venue
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="t in table">
                        <td><b>{{ t['S.no'] }}</b></td>
                        <td>
                          <img class="ma-2" height="50px" width="100px" v-bind:src="'./assets/'+t['Event Image']" style="border-radius: 10px;"/>
                        </td>
                        <td>{{ t['Event Name'] }}</td>
                        <td>{{ t['From Date'] }}</td>
                        <td>{{ t['To Date'] }}</td>
                        <td>{{ t['Timing'] }}</td>
                        <td>
                          <b>{{ t['Venue'] }}</b><br/>
                          2655 South Orange Ave,Forida
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>

              </v-col>
            </v-row>

          </v-col>

        </v-row>
        <!--FIRST ROW-->

    </v-container>
      
    </v-app>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>

    new Vue({
      el: '#app',
      data:{
        dialog:false,
        image: '',
        choices:[
          {'type':'Events','icon':'mdi-calendar'},
          {'type':'Education','icon':'mdi-school'},
          {'type':'Property','icon':'mdi-garage'},
          {'type':'Learning','icon':'mdi-account-tie'}
        ],
        profile:[
          'edit profile',
          'account settings',
          'sign out'
        ],
        table:[
          {'S.no':'01','Event Image':'Gala_music_festival.jpg','Event Name':'Gala Music festival','From Date':'7th Feb, 2021','To Date':'7th Feb, 2021','Timing':'4pm - 6pm','Venue':'Gala Night Convention'},
          {'S.no':'02','Event Image':'conference_event.jpg','Event Name':'Conference Event','From Date':'7th Feb, 2021','To Date':'7th Feb, 2021','Timing':'4pm - 6pm','Venue':'Gala Night Convention'},
          {'S.no':'03','Event Image':'gallery.jpg','Event Name':'Gallery Show','From Date':'7th Feb, 2021','To Date':'7th Feb, 2021','Timing':'4pm - 6pm','Venue':'Gala Night Convention'},
          {'S.no':'04','Event Image':'conference_event.jpg','Event Name':'Conference Event','From Date':'7th Feb, 2021','To Date':'7th Feb, 2021','Timing':'4pm - 6pm','Venue':'Gala Night Convention'},
          {'S.no':'05','Event Image':'conference_event.jpg','Event Name':'Conference Event','From Date':'7th Feb, 2021','To Date':'7th Feb, 2021','Timing':'4pm - 6pm','Venue':'Gala Night Convention'},
          {'S.no':'06','Event Image':'Gala_music_festival.jpg','Event Name':'Gala Music festival','From Date':'7th Feb, 2021','To Date':'7th Feb, 2021','Timing':'4pm - 6pm','Venue':'Gala Night Convention'}
        ]
      },
      methods: {
        onDrop: function(e) {
          e.stopPropagation();
          e.preventDefault();
          var files = e.dataTransfer.files;
          this.createFile(files[0]);
        },
        onChange(e) {
          var files = e.target.files;
          this.createFile(files[0]);
        },
        createFile(file) {
          if (!file.type.match('image.*')) {
            alert('Select an image');
            return;
          }
          var img = new Image();
          var reader = new FileReader();
          var vm = this;

          reader.onload = function(e) {
            vm.image = e.target.result;
          }
          reader.readAsDataURL(file);
        },
        removeFile() {
          this.image = '';
        }
    },
      vuetify: new Vuetify(),
    })

  </script>
</body>
</html>